<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="forceIntegrationTests" value="false"/>
  </appSettings>
  <connectionStrings>
    <clear /><!-- To ensure clearing of aspnetdb.mdf from machine.config-->
    <add name="SqLite" providerName="System.Data.SQLite" connectionString="FullUri=file::memory:?cache=shared;"/>
    <add name="MsSql" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DbTools_DataDefinitionGenerator_Tests;Integrated Security=SSPI;Connection Timeout=5"/>
    <add name="Oracle" providerName="Oracle.ManagedDataAccess.Client" connectionString=""/>
  </connectionStrings>
</configuration>