<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="forceIntegrationTests" value="false"/>
    <add key="Oracle_Database_Name" value="DbTools_DataDefinitionExecuter_Tests"/>
  </appSettings>
  <connectionStrings>
    <clear /><!-- To ensure clearing of aspnetdb.mdf from machine.config-->
    <add name="SqLite" providerName="System.Data.SQLite" connectionString="FullUri=file::memory:?cache=shared;"/>
    <add name="MsSql" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DbTools_DataDefinitionExecuter_Tests;Integrated Security=SSPI;Connection Timeout=5"/>
    <add name="Oracle" providerName="Oracle.ManagedDataAccess.Client" connectionString=""/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient"
        description=".Net Framework Data Provider for SqlServer"
        type="System.Data.SqlClient.SqlClientFactory, System.Data"/>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
          type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>